<!DOCTYPE html>
<html>
    <head>
        <title>Hello Angular Js App</title>
        <!-- Load Angular Js -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    </head>
    <body ng-app="studentApp" ng-controller="StudentController">
        <h2>"Hello Angular Js!</h2>
        <!--Two Way Data Binding-->
        <label>Enter Student Name:</label>
        <input type="text" ng-model="student.name" placeholder="Enter Name"/>
        <br></br>

        <label>Enter Student Roll no:</label>
        <input type="text" ng-model="student.roll" placeholder="Enter Roll No"/>
        <br></br>

        <label>Enter Student Course:</label>
        <input type="text" ng-model="student.course" placeholder="Enter Course"/>
        <br></br>
        
        
        <!-- one way binding  -->
          <p><b>Updated Student Name:</b>{{student.name}}
          <p><b>Updated Student Roll No:</b>{{student.roll}}</p>
          <p><b>Updated Student Course:</b>{{student.course}}</p>
        <!-- Two Way Binding-->
          <p><b>Student Name:</b></p>
          <input type="text" ng-model="student.name"/>
          <p><b>Roll No:</b></p>
          <input type="text" ng-model="student.roll"/>
          <p><b>Course:</b></p>
          <input type="text" ng-model="student.course"/>
         
        <!-- Binding More Student Data -->
           <p><b>Roll No:</b>{{student.roll}}</p>
           <p><b>Course:</b>{{student.course}}</p>

           <script src="time.js"></script>
    </body>
</html>        